<!DOCTYPE html>
<html lang="en">

<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Delhizine Collective</title>

    <link rel="canonical" href="{% block canonical_url %}https://delhizine.in/{% endblock %}">

    <meta property="og:title" content="{% block meta_title %}delhizine{% endblock %}">
    <meta property="og:url" content="{% block meta_url %}https://delhizine.in/{% endblock %}">
    <meta name="og:image" content={% block meta_image %}"assets/images/brand/logo.webp"{% endblock %}>
    <meta name="og:description" content="{% block meta_description %}Delhizine is a student-run zine collective that collates and distributes art, letters and zines sent to us from everywhere and anywhere at all.{% endblock %}">
    <meta property="og:type" content="website">

    <meta name="keywords" content="zine, delhi, collective, journal, graphic, publishing, design">
    
    <link rel="stylesheet" href="assets/styles/styles.css">
    <link rel="stylesheet" href="assets/styles/marquee.css">
    <link rel="icon" type="image/x-icon" href="assets/images/site/favicon.png">

    {% include "parts/google-analytics.njk" %}
</head>

<body>
    <div class="left">
        {% include "parts/header.njk" %}
        <main>
            <div class="sidebar">
                {% include "parts/navbar.njk" %}
            </div>

            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </div>

    <div class="right">
        {% include "parts/right-content.njk" %}
    </div>
</body>

</html>