<!DOCTYPE html>
<html lang="en">

<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delhizine Collective | Home</title>

    <link rel="canonical" href="https://delhizine.in/">

    <meta name="description" content="A zine collective of zine-ers who are currently zine-ing in Delhi.">
    <meta name="keywords" content="zine, delhi, collective, journal, graphic, publishing, design">
    <meta name="robots" content="index, follow">

    <meta property="og:title" content="delhizine">
    <meta property="og:description" content="A zine collective of zine-ers who are currently zine-ing in Delhi.">
    <meta property="og:image" content="assets\images\brand\logo.webp">
    <meta property="og:url" content="https://delhizine.in/">
    <meta property="og:type" content="website">

    <meta name="og:image" content="assets/logo.webp">
    <meta name="og:description" content="Delhizine is collective of Zine-ers who are currently zine-ing in Delhi.">

    <link rel="stylesheet" href="assets/styles/styles.css">
    <link rel="stylesheet" href="assets/styles/marquee.css">
    <link rel="icon" type="image/x-icon" href="assets\images\site\favicon.png">

    {% include "parts\google-analytics.njk" %}
</head>

<body>
    <div class="left">
        {% include "parts/header.njk" %}
        <main>
            <div class="sidebar">
                {% include "parts/navbar.njk" %}
            </div>

            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </div>

    <div class="right">
        {% include "parts/right-content.njk" %}
    </div>
</body>

</html>