<header>
    <div class="banner">
        <h1>This is <a href="./index.html">@delhizine</a>
        </h1>
    </div>
    <br>
    <p>a zine collective of zine-ers who are currently zine-ing in Delhi</p>
</header>