<nav>
    <ul>
        <li>
            <a href="index.html"><img src="assets/images/site/home.webp">
                <p>HOME</p>
            </a>
        </li>
        <li>
            <a href="getstarted.html"><img src="assets/images/site/getstarted.webp">
                <p>GET STARTED</p>
            </a>
        </li>
        <li>
            <a href="catalogue.html">
                <img src="assets/images/site/zines.webp">
                <p>THE ZINES</p>
            </a>
        </li>
        <li>
            <a href="calendar.html">
                <img src="assets/images/site/cal.webp">
                <p>THE CALENDAR</p>
            </a>
        </li>
        <li>
            <a href="contact.html">
                <img src="assets/images/site/contact.webp">
                <p>CONTACT</p>
            </a>
        </li>
    </ul>
</nav>