<nav>
    <ul>
    {% for item in navigation %}
        <li><a href = "{{item.url}}">
            <img src="./{{item.img}}">
            <p>{{item.name}}</p>
        </a></li>
    {% endfor %}
    </ul>
</nav>