<div class="logochip">
    <img src="assets/images/site/logocircle.webp" alt="delhizine logo" class="spin">
    <a href="https://www.instagram.com/delhizine/">@delhizine &lt;3</a>
</div>
<p>
    In the dark times, <br>
    will there also be singing? <br>
    <b>Yes, there will be singing.</b><br>
    About the dark times. <br>
    
    <i>(Motto / Betrolt Brecht)</i>
</p>