<div class="logochip">
    <img src="assets/images/site/logocircle.webp" alt="delhizine logo" class="spin">
    <a href="https://www.instagram.com/delhizine/">@delhizine &lt;3</a>
</div>
<p>
    In the dark times, <br>
    will there also be singing? <br>
    <b>Yes, there will be singing.</b><br>
    About the dark times. <br>
    <i>(Motto / Betrolt Brecht)</i>
    <div style="display:flex; gap:30px; padding: 0 0 30px;">
        <a href="https://www.instagram.com/delhizine/?hl=en">instagram</a>
        <a href="#">newsletter</a>
    </div>
</p>
<p style="max-width:200px">
    &copy; 2025 Delhizine, All Rights Reserved.
</p>