{% extends "base.njk" %}

{% block title %}Calendar{% endblock %}

{% block content %}
<h2>A Calendar Called Hope, 2025</h2>
<img src="assets/images/site/calendar.webp" alt="Calendar image" width="100%">
<p style="padding-top: 10px;">We made a Calendar, we called it hope, and shipped it around the country.
</p>
<p>Each month, has a story and an essay, by people to whom the month meant the most.</p>
<p>(Excerpt from January)</p>
<p style="margin: 0 30px 30px; opacity:80%">
    There's nothing that I'm carrying from years gone by, except a little bit of hope in my jacket
    pocket in this cold, cold weather. I hope it keeps me warm as I walk into the new year. I hope
    nothing changes but everything does.I hope this year is good to us and good to the trees and the
    birds. I hope this is my year, and it is your year too. I hope, I hope and I hope, because at the
    end of my being, that' all I have, and as the year looms tall before me, hope will carry me through,
    and I hope that you, too, are in for the ride.
</p>
<h2>Hope, Reviews</h2>
<p>(click to on image to read review)</p>
<div class="calendar-gallery">
    {% for item in calendar %}
    <div class="calendar-item"
        onclick="openModal('{{item.img}}', '{{item.name}}', `{{item.review}}`)">
        <img src="{{item.img}}" alt="{{item.name}} review">
        <div class="calendar-title">{{item.name}}</div>
    </div>
    {% endfor %}

</div>

<!-- Modal -->
<div id="imageModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <img id="modalImage" src="" alt="">
        <div class="modal-title" id="modalTitle"></div>
        <div class="modal-review" id="modalReview"></div>
    </div>
</div>
<script src="assets/scripts/modalscript.js"></script>
{% endblock %}