{% extends "base.njk" %}

{% block title %}Contact{% endblock %}
{% block meta_title %}Delhizine Contact{% endblock %}
{% block canonical_url %}https://delhizine.in/contact.html{% endblock %}
{% block meta_url %}https://delhizine.in/contact.html{% endblock %}
{% block meta_image %}assets/images/brand/logo.webp{% endblock %}
{% block meta_description %}You can mail us at delhizine at gmail dot com. In any case the following is the team that keeps delhizine running.{% endblock %}

{% block content %}
<p>You can mail us at delhizine at gmail dot com. In any case the following is the team that keeps
    delhizine running. Not accounting for the kindnesses of so many more, who would otherwise make this
    list idiotically long.</p>
<div class="the-wall">
    {% for person in team %}
    <div class="wall-item">
        <img src="{{person.img}}" alt="" class="wall-img">
        <div class="wall-head">{{person.name}}</div>
        <div class="wall-quote">{{person.quote | safe}}</div>
        <div class="wall-text">{{person.byline}}</div>
    </div>
    {% endfor %}
</div>
<a href="snake.html">(secret link)</a>
{% endblock %}