{% extends "base.njk" %}

{% block content %}
<p>You can mail us at delhizine at gmail dot com. In any case the following is the team that keeps
    delhizine running. Not accounting for the kindnesses of so many more, who would otherwise make this
    list idiotically long.</p>
<div class="the-wall">
    {% for person in team %}
    <div class="wall-item">
        <img src="{{person.img}}" alt="" class="wall-img">
        <div class="wall-head">{{person.name}}</div>
        <div class="wall-quote">{{person.quote | safe}}</div>
        <div class="wall-text">{{person.byline}}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}