{% extends "base.njk" %}

{% block title %}Get Started{% endblock %}
{% block meta_title %}Get Started{% endblock %}
{% block canonical_url %}https://delhizine.in/getstarted.html{% endblock %}
{% block meta_url %}https://delhizine.in/getstarted.html{% endblock %}
{% block meta_image %}assets/images/brand/logo.webp{% endblock %}
{% block meta_description %}Your zine making toolkit, get started here !!{% endblock %}

{% block content %}
<p>This page will be up soon.</p>
<p>Meanwhile, try out the <a href="./zinemaker.html">DZ Zineinator v.0.0</a>.</p>
{% endblock %}