{% extends "base.njk" %}

{% block title %}Home{% endblock %}
{% block meta_title %}Delhizine Homepage{% endblock %}
{% block canonical_url %}https://delhizine.in/{% endblock %}
{% block meta_url %}https://delhizine.in/{% endblock %}
{% block meta_image %}assets/images/brand/logo.webp{% endblock %}
{% block meta_description %}Delhizine is a student-run zine collective that collates and distributes art, letters and zines sent to us from everywhere and anywhere at all.{% endblock %}

{% block content %}
<p class="emphasis">Hi.</p>
<p>You might have stumbled onto us
    on <a href="https://www.instagram.com/delhizine/">@delhizine</a> or on any one of our displays
    located
    <a href="#">in and around delhi</a>. For the list of zines (and their printable copies) hosted by us
    click <a href="catalogue.html">here</a>.
</p>

<div class="marquee-container">
    <div class="marquee-content"> 
        {% for i in range(5) %}
        {% for item in marquee %}
        <a href="{{item.url}}" class="marquee-item">
            <img src="{{item.img}}" alt="{{item.alt}}">
            <p>{{ item.text | safe}}</p>
        </a>
        {% endfor %}
        {% endfor %}
    </div>
</div>

<p class="emphasis">But what's a zine??</p>
<p>You know what a magazine is? Well it's half that - a zine. It's anything and everything you can fit
    in
    the 8 page booklet made out of 1 A4 sheet - a story, your local news, the life updates of your
    favourite
    rock, everything that has and will rock your world. Learn how to make you own <a href="#">here.</a>
</p>
<div style="display: flex;">
    <img src="assets/images/site/bookmark.webp" alt="DZ bookmark" width="50%">
    <img src="assets/images/site/bookmark.webp" alt="DZ bookmark" width="50%">
</div>
<p class="emphasis">Where can we pick up a copy?</p>
<p>We're planning to keep an updated list of pop-up displays on this site. For now it's upto your good
    luck
    to bump into anyone carrying the zines. The site is, as is obvious, under construction, so don't
    fret if
    the links don't work - just check back in a while :)</p>
<p class="emphasis">How do we get involved?</p>
<p>If you would like our patronage, mail us. If you find a cool leaf, mail us. If you would like to tell a secret, mail us. We are listening at delhizine at the rate gmail dot com.</p>
{% endblock %}