{% extends "../templates/base.njk" %}

{% block title %}{{ item.name }}{% endblock %}
{% block meta_title %}{{ item.name }} | Delhizine{% endblock %}
{% block canonical_url %}https://delhizine.in/{{ item.pagename }}.html{% endblock %}
{% block meta_url %}https://delhizine.in/{{ item.pagename }}.html{% endblock %}
{% block meta_image %}{{item.url}}/{{file.filename}}.webp{% endblock %}
{% block meta_description %}Delhizine hosts zines from artists and writers from the city and beyond. Here is the zine page for {{ item.name }}{% endblock %}

{% block content %}
  <article>
    <h2>{{ item.name }}</h2>
    <div>{{ item.content | safe }}</div>
    <div class="catalogue">
        {% for file in item.files %}
        <a href="{{item.url}}/{{file.filename}}.pdf" target="_blank" class="cat-item">
            <img src="{{item.url}}/{{file.filename}}.webp" alt="{{file.name}} Cover Page" class="cat-img">
            <div class="cat-title">{{file.name}}</div>
        </a>
        {% endfor %}
    </div>
  </article>
{% endblock %}