* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
}

html {
    height: 100%;
}

body {
    /* border: 1px solid white; */
    width: 100%;
    background: rgb(21, 21, 21);
    color: white;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}

.left {
    flex: 1;
}

.right {
    border-left: 1px solid grey;
    padding: 10px;
    display: flex;
    width: min(25%, 400px);
    flex-direction: column;
    align-items: center;
}

.right p {
    padding-top: 20px;
    width: fit-content;
    opacity: 50%;
}

header h1 {
    font-size: 48px;
    font-weight: 200;
    display: inline;
}

header p {
    color: gray;
}

header h1 a {
    outline: none;
    border-bottom: 2px solid white;
}

h2 {
    font-weight: 200;
    margin-bottom: 20px;
}

nav ul li {
    display: inline-block;
    width: 100px;
}

nav ul li a {
    position: relative;
    display: inline-block;
    background: transparent;
}

nav ul li img {
    display: block;
    width: 100%;
    padding: 5px;
    opacity: 30%;
}

nav ul li p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
}

nav ul li:hover img {
    background: black;
    opacity: 100%;
    border: 1px solid white;
}

nav ul li:hover p {
    opacity: 0%;
}

a {
    color: white;
    background: #fff4;
    text-decoration: none;
}

a:hover {
    background: none;
    font-style: italic;
}

.banner {
    position: relative;
}

header {
    padding: 15px;
    padding-bottom: 20px;
}

main {
    border-top: 1px solid grey;
    display: flex;
}

.content {
    padding: 10px 20px;
    margin: auto;
}

.sidebar {
    width: min(20vw, 120px);
    padding: 10px;
    display: flex;
    border-right: 1px solid grey;
    align-items: center;
    flex-direction: column;
    top: 0;
}

.logochip img {
    width: min(30vw, 150px);
    margin-bottom: 20px;
}

.logochip {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.content p {
    margin-bottom: 20px;
}

.block-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.block {
    padding: 8px 10px;
    width: min(800px, 100%)
}

.block-img {
    width: 300px;
}

.emphasis {
    /* color: #ff0090; */
    font-weight: 600;
    color: #fff8;
    margin: 20px 0 5px 20px;
}

.spin {
    animation: spin 10s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.catalogue {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

a.cat-item {
    padding: 5px;
    background: none;
    border: 1px solid grey;
    width: calc(25% - 10px);
}

a.cat-item:hover {
    background: #fff1;
}

.cat-img {
    width: 100%;
}

.the-wall {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
}

.wall-item {
    /* outline: 1px solid white; */
    width: calc(33% - 10px);
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid grey;
    background: black;
}

.wall-head {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 5px;
}

.wall-quote {
    opacity: 70%;
    font-size: small;

    margin-bottom: 10px;
}

.wall-img {
    width: 100%;
    border: 1px solid grey;
}

@media (max-width: 900px) {
    main {
        flex-direction: column;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav ul li {
        width: 20%;
    }

    .sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid grey;
    }

    .right {
        width: 100%;
        order: 1;
        border-left: none;
        border-top: 1px solid grey;
    }

    .left {
        order: 0;
    }

    .logochip {
        margin-top: 20px;
    }

    a.cat-item {
        width: calc(33% - 10px);
    }

    .wall-item {
        width: calc(50% - 10px);
    }
}

.calendar-gallery{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.calendar-item {
    border: 1px solid white;
    width: calc(33% - 10px);
    padding: 5px;
    background: #333;
}

.calendar-item img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.calendar-item:hover {
    background-color: #000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    padding: 20px;
    width: min(500px, 80vw);
    max-height: 90vh;
    border: 1px solid white;
    position: relative;
    overflow: auto;
    background: #222;
}

.modal img {
    width: 100%;
}

.modal-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.modal-review {
    margin-top: 10px;
    font-size: 14px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid white;
    background: rgb(141, 46, 46);
}
