* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
}

html {
    height: 100%;
}

body {
    /* border: 1px solid white; */
    width: 100%;
    background: rgb(21, 21, 21);
    color: white;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}

.left {
    flex: 1;
}

.right {
    border-left: 1px solid grey;
    padding: 10px;
    display: flex;
    width: min(25%, 400px);
    flex-direction: column;
    align-items: center;
}

.right p {
    padding-top: 20px;
    width: fit-content;
    opacity: 50%;
}

header h1 {
    font-size: 48px;
    font-weight: 200;
    display: inline;
}

header p {
    color: gray;
}

header h1 a {
    outline: none;
    border-bottom: 2px solid white;
}

h2 {
    font-weight: 200;
    margin-bottom: 20px;
}

nav ul li {
    display: inline-block;
    /* border: 1px solid white; */
    width: 130px;
}

nav ul li a {
    position: relative;
    display: inline-block;
    background: transparent;
}

nav ul li img {
    display: block;
    width: 100%;
    padding: 5px;
    opacity: 30%;
}

nav ul li p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
}

nav ul li:hover img {
    background: black;
    opacity: 100%;
    border: 1px solid white;
}

nav ul li:hover p {
    opacity: 0%;
}

/* 
nav ul li img{
    width: 100%;
} */

/* nav{
    margin: 50px 10px;
} */

/* nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

nav ul li{
    position: relative;
    align-items: center;
    margin-bottom: 20px;
}


nav ul li img{
    position: absolute;
    width: min(30vw, 100px);
    top: -30px;
    z-index: -10;
    opacity: 30%;
    padding: 10px;
}

nav a{
    background: none;
    padding: 5px 12px;
} */

/* nav a:hover img{
    opacity: 100%;
    background: black;
    outline: 1px solid white;
} */

a {
    color: white;
    background: #fff4;
    text-decoration: none;
    /* border-bottom: #ff0090 1px solid; */
}

a:hover {
    background: none;
    font-style: italic;
}

.banner {
    position: relative;
}

header {
    padding: 15px;
    padding-bottom: 20px;
}

main {
    border-top: 1px solid grey;
    display: flex;
}

.content {
    padding: 10px 20px;
    margin: auto;
}

.sidebar {
    width: min(20vw, 150px);
    padding: 10px;
    display: flex;
    border-right: 1px solid grey;
    align-items: center;
    flex-direction: column;
    top: 0;
}

.logochip img {
    width: min(30vw, 150px);
    margin-bottom: 20px;
}

.logochip {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.content p {
    margin-bottom: 20px;
}

.block-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.block {
    padding: 8px 10px;
    width: min(800px, 100%)
}

.block-img {
    width: 300px;
}

.emphasis {
    /* color: #ff0090; */
    font-weight: 600;
    color: #fff8;
    margin: 20px 0 5px 20px;
}

.spin {
    animation: spin 10s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.catalogue {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

a.cat-item {
    padding: 5px;
    background: none;
    border: 1px solid grey;
    width: calc(25% - 10px);
}

a.cat-item:hover {
    background: #fff1;
}

.cat-img {
    width: 100%;
}

.the-wall {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
}

.wall-item {
    /* outline: 1px solid white; */
    width: calc(33% - 10px);
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid grey;
    background: black;
}

.wall-head {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 5px;
}

.wall-quote {
    opacity: 70%;
    font-size: small;

    margin-bottom: 10px;
}

.wall-img {
    width: 100%;
    border: 1px solid grey;
}

@media (max-width: 900px) {
    main {
        flex-direction: column;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav ul li {
        width: 20%;
    }

    .sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid grey;
    }

    .right {
        width: 100%;
        order: 1;
        border-left: none;
        border-top: 1px solid grey;
    }

    .left {
        order: 0;
    }

    .logochip {
        margin-top: 20px;
    }

    a.cat-item {
        width: calc(33% - 10px);
    }

    .wall-item {
        width: calc(50% - 10px);
    }
}