*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono','Courier New', Courier, monospace;
}

body{
    /* border: 1px solid black; */
    width: min(600px, 80vw);
    margin: auto;
}

header{
    margin: 60px 0 30px;
}

header h1{
    font-size: 48px;
    font-weight: 200;
    display: inline;
}

header h1 a{
    outline: none;
    border-bottom: 2px solid black;
}

nav{
    margin: 30px 0px;
}

nav ul li{
    display: inline-block;
    margin-bottom: 20px;
}

nav a{
    background: #ddd;
    padding: 0px 12px;
    outline: none;
    border: 5px #eee outset;
}

nav a:hover{
    border: 5px #eee inset;
}

a{
    color: black;
    text-decoration: none;
    outline: #ff0090 1px solid;
}

a:hover{
    font-style: italic;
}

.banner{
    position: relative;
}

.header-logo{
    position: absolute;
    display: inline;
    width: 400px;
    margin: -80px -120px -50px -100px ;
    z-index: -100;
    opacity: 20%;
}

main p{
    margin-bottom: 20px;
}

.emphasis{
    color: #ff0090;
    margin-left: 20px;
    margin-bottom: 5px;
}

.spin {
    animation: spin 10s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

footer{
    margin: 100px;
}